<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title || "Movies Index Project" %></title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
